:root {
  --color-primary: hsl(180, 29%, 50%);
  --color-neutral-background: hsl(180, 52%, 96%);
  --color-neutral-light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --color-neutral-dark-grayish-cyan: hsl(180, 8%, 52%);
  --color-neutral-very-dark-grayish-cyan: hsl(180, 14%, 20%);

  --font-size-body: 15px;


  --desktop-company-logo-size: 88px;
  --mid-company-logo-size: 66px;
  --mobile-company-logo-size: 44px;
}

* {
  padding: 0px;
  margin: 0px;
}

h1, p, button{
  font-size: var(--font-size-body);
  font-family: 'League Spartan', sans-serif;
}

h1 {
  font-size: 20px
}


header img{
  width: 100%;
  background-color: var(--color-primary);
  background-repeat: no-repeat;
}

main {
  padding-top: 60px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  
  background-color: var(--color-neutral-background);

  margin-bottom: 4rem;
}

.filter-menu {
  display: flex;
}

.job-card, .filter-menu {
  /* border: 2px solid blue; */
  display: flex;

  background-color: white;

  width: 60%;

  justify-content: space-between;
  align-items: center;

  -webkit-box-shadow: 0px 10px 30px -6px var(--color-primary);
  -moz-box-shadow: 0px 10px 30px -6px var(--color-primary);
  box-shadow: 0px 10px 30px -6px var(--color-primary);
  
  padding: 2rem;
}

.filter-menu .filter {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;

  color: var(--color-primary);
  }

.filter-menu .filter > p {
  background-color: var(--color-neutral-light-grayish-cyan-filter-tablets);;
  font-weight: 700;
  padding: 0.3rem;
}





.filters-section {
  display: flex;


  gap: 1rem;

  width: 80%;
  
}


.job-card-featured {
  border-left: solid var(--color-primary) 6px;
}


.logo-and-item-section {
  display: flex;
  gap: 1rem;
}


.item-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  column-gap: 1rem;
  row-gap: 1rem; */
}

/* Company and Highlights START */
.company-and-highlights {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.company-name {
  color: var(--color-primary);
  font-weight: 700;
}

.highlight {
font-size: 12px;

  color: white;
  border-radius: 3rem 3rem 3rem 3rem;
  text-align: center;
  padding: 3px 8px 3px 8px;
  
}

.highlight.new {
  background-color: var(--color-primary);
}
.highlight.featured {
  background-color: var(--color-neutral-very-dark-grayish-cyan);
}

.job-title {
  grid-column: span 3;


}

.job-title:hover {
  cursor: pointer;
  color : var(--color-primary)
}

/* Company and Highlights END */



/* Job Detials START */
.job-detials {
  display: flex;
  gap: 1rem;
}

.job-detials > p {
  color: var(--color-neutral-dark-grayish-cyan);
}




/* Job Detials END */

.topic-section {
  display: flex;
  
  gap: 1rem;
} 






/* buttons START */
.btn {
border: none;
color: var(--color-primary);
background-color: var(--color-neutral-light-grayish-cyan-filter-tablets);
text-align: center;
align-content: center;

font-weight: 700;

padding: 0.3rem;

cursor: pointer;
}

.btn-filter {
  background-color: var(--color-primary);
  color: white;

  padding-right: 0.5rem;
  padding-left: 0.5rem;
} 

.btn-clear {
  color: var(--color-neutral-dark-grayish-cyan);
  background-color: white;
}


.btn:hover {
  background-color: var(--color-primary);
  color: white;
}

.btn-filter:hover {
  background-color: var(--color-neutral-very-dark-grayish-cyan);
  color: white;
}


.btn-clear:hover {
  background-color: white;
  color: var(--color-primary);
  
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* buttons END */



/* extra util classes */
.hide {
  display: none;
}





/* Media Queries START */
@media (max-width: 1150px) { 
  /* .job-card {
    flex-direction: column;
    gap: 0.5rem;

    padding-top: 2rem;
    padding-bottom: 2rem;

  } */

  /* .logo-and-item-section {
    flex-direction: column;
    
  } */

  .company-logo {
    width: var(--mid-company-logo-size);
    height: var(--mid-company-logo-size);
  }

  .topic-section {
    display: grid;

    padding-top: 1rem;

    grid-template-columns:   1fr 1fr 1fr;
  }
}

@media (max-width: 830px) { 
  .job-card {
    flex-direction: column;
    gap: 0.5rem;

    padding-top: 2rem;
    padding-bottom: 2rem;

  }

  /* .logo-and-item-section {
    flex-direction: column;
    
  } */

  .company-logo {
    width: var(--mid-company-logo-size);
    height: var(--mid-company-logo-size);
  }

  .topic-section {
    display: grid;

    padding-top: 1rem;

    grid-template-columns:   1fr 1fr 1fr;
  }
}

/* mobile */
@media (max-width: 430px) {
  h1, p, button{
    font-size: var(--font-size-body);
    font-family: 'League Spartan', sans-serif;
  }
  
  h1 {
    font-size: 15px
  }

  header img{
    height: 100px;
  }

  main {
    gap: 2rem;
  }

  .filter-menu  {
    width: 70%;
    padding: 1rem;
  }


  .filters-section {
    display: grid;

    padding: 0px;

    grid-template-columns:   repeat(auto-fit, minmax(100px, 1fr));
  }

  

  .job-card, .filter-menu  {
    width: 80%;
    padding: 1rem;

    align-items: flex-start;
  }
  

  .job-card {
    flex-direction: column;
    gap: 0.5rem;

    padding-top: 2rem;
    padding-bottom: 2rem;

  }

  .logo-and-item-section {
    flex-direction: column;
    margin-top: -3.5rem;
    
  }

  .company-logo {
    width: var(--mobile-company-logo-size);
    height: var(--mobile-company-logo-size);
  }

  .item-section {
    gap: 0.5rem;
  }

  .job-detials {
    border-bottom: solid var(--color-neutral-dark-grayish-cyan) 1px;
    border-spacing: 500px 50px;

    padding-bottom: 1rem;
  
  }




  .topic-section {
    display: grid;

    padding-top: 1rem;

    grid-template-columns:   1fr 1fr 1fr;
  }
}

/* Media Queries END */
